.custom-img {
  width: 150px;
  height: auto;
  margin-right: 20px;
  padding: 5px;
}

.custom-img:last-child {
  margin-right: 0;
}

.row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* Cambiar el estilo de los enlaces cuando no están activos */
.navbar-nav .nav-link {
  color: rgb(109, 102, 102) !important;
  position: relative;
}


/* Animaciones*/
/* Subrayado para el encabezado*/
.navbar-nav .nav-link::after {
  content: ""; 
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px; 
  background-color: red;
  transform: scaleX(0); 
  transition: transform 0.3s ease-in-out;
}
.navbar-nav .nav-link:hover::after {
  transform: scaleX(1); 
}

/* Fondo rojo oscuro cuando se pasa el ratón por encima de un enlace */
.navbar-nav .nav-link:hover {
  background-color: rgb(63, 63, 63);
  border-radius: 20px;
}
/* Termina animcacion*/

html {
  scroll-behavior: smooth;
}

.navbar, .offcanvas {
  background-color: black !important;  
  color: white !important;           
}

.navbar-nav .nav-link {
  color: white !important;             
}

.navbar-nav .nav-link:hover {
  color: lightgray !important;        
}

.navbar-brand {
  color: white !important;           
}

.navbar-toggler-icon {
  background-color: white !important;  
}

/*Dieño para las imagenes de boxeo*/
.image-holder img {
  width: 150%; 
  height: 400px; 
  object-fit: cover; 
  margin-top: 15px; 
}

.category-content {
  text-align: center;
  margin-top: 10px; 
}

.product-button {
  display: flex;
  justify-content: center; 
  align-items: center;     
  text-align: center;
}

.product-button a {
  display: inline-block;
  text-align: center; 
}

/* Terminan la seccion de imagenes*/

/*Imagen del inicio */
.video-bg {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden; 
}

.video-image {
  object-fit: cover; 
  width: 100%; 
  height: 85%; 
  display: block; 
}
#textito {
  margin-top: -200px;
  position: relative;
  z-index: 10; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  color:white;
  font-family:"Funnel Sans";
  -webkit-text-stroke: 1px black; 
  text-stroke: 2px black;
}
#tilin {
  color:white;
  font-family:"Funnel Sans";
  z-index: 10;
  position: relative;
  text-align: center;
}
/*fin de la Imagen del inicio */

/*Novedades*/
#Novedades {
  
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  color: white; 
  
}
/*Din de novedades*/

/*Tablas*/
table.table .col-posicion {
  background-color: black !important;
  color: white !important;
  border-color: white;
}

table.table .box-posicion {
  background-color: rgb(238, 90, 90) !important;
  color: white !important;
  border-color: black;
}
/*Fin de las tablas*/

/*Novedades en ufc*/
.seccion-gris {
  max-width: 1200px;
  margin: 0 auto; 
  background-color: #f0f0f0;
  border-radius: 10px; 
  padding: 20px; 
}
.contenedor {
  background-color: #f0f0f0; 
  padding: 20px; 
}



/*tienda*/
#tienda {
  background-color:gray;
  padding-top: 20px;
}

.imagen-animada {
  max-width: 100%;  
  height: auto;  
  object-fit: contain;  
  transition: transform 0.3s ease; 
}

.imagen-animada:hover {
  transform: scale(1.05);  
}

.producto-texto {
  text-align: center;  
  margin-top: 10px;
}

.producto {
  border: 1px solid #ddd;  
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  background-color:white;
}

.btn-producto {
  background-color: #28a745;  
  color: white;
  padding: 10px 20px;
  border-radius: 25px;  
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease; 
}

.btn-producto:hover {
  background-color: #218838;  
  transform: scale(1.05); 
}